header.header
  .container-fluid
    .row
      .col
        .header__nav-icon#nav-icon
          span
          span
          span
    
    .row.justify-content-center
      .col-lg-8.col-12
        .middle-content
          h1.middle-content__subtitle we've got the talent
          hr.middle-content__hr
          p.middle-content__info Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure iste corrupti cupiditate saepe laboriosam odio eos, possimus quo. Dolore, maxime?
          button.button.button--scroll
            a.yaklink(href="#yak1")
              img(src="../images/Mouse_scroll.png", alt="")
    .header__overlay#overlay
      div
        ul
          li
            a(href='#') Home
          li
            a(href='#') Abou
          li
            a(href='#') Contact