extends ../layouts/page.pug

block title
  title GoodGood

block content
  section.section-introduction#yak1
    .section-introduction__intro
      .container
        .row.justify-content-center
          .col-lg-8.col-10
            h2.head-subtitle introduction
            hr.head-hr
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque necessitatibus maxime ea at quia officia eaque quis ipsam tempora iusto saepe tempore maiores corporis unde, ipsum impedit itaque inventore. Quisquam.
    .section-introduction__creat
      .container
          .row.justify-content-center
            .col-lg-5.col-10
              button.button.button--ghost Pure Creativity
  
  section.section-some-works
    .container
      .row
        .col
          h2.head-subtitle some of our work
          hr.head-hr
          nav.section-some-works__tab-nav#myTab.nav.nav-tabs(role='tablist')
            a#nav-all-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-all', role='tab', aria-controls='nav-all', aria-selected='true') all
            a#nav-branding-tab.nav-item.nav-link(data-toggle='tab', href='#nav-branding', role='tab', aria-controls='nav-branding', aria-selected='false') branding
            a#nav-webdesign-tab.nav-item.nav-link(data-toggle='tab', href='#nav-webdesign', role='tab', aria-controls='nav-webdesign', aria-selected='false') web design
            a#nav-mobileui-tab.nav-item.nav-link(data-toggle='tab', href='#nav-mobileui', role='tab', aria-controls='nav-mobileui', aria-selected='false') mobile ui
            a#nav-illustrations-tab.nav-item.nav-link(data-toggle='tab', href='#nav-illustrations', role='tab', aria-controls='nav-illustrations', aria-selected='false') illustrations
          #nav-tabContent.tab-content
            #nav-all.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-all-tab') 
              .row
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/1.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/2.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/3.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/4.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/5.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/6.jpg", alt="")
            #nav-branding.tab-pane.fade(role='tabpanel', aria-labelledby='nav-branding-tab') 
              .row
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/1.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/2.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/3.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/4.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/5.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/6.jpg", alt="")
            #nav-webdesign.tab-pane.fade(role='tabpanel', aria-labelledby='nav-webdesign-tab') 
              .row
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/1.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/2.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/3.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/4.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/5.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/6.jpg", alt="")
            #nav-mobileui.tab-pane.fade(role='tabpanel', aria-labelledby='nav-mobileui-tab') 
              .row
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/1.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/2.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/3.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/4.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/5.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/6.jpg", alt="")
            #nav-illustrations.tab-pane.fade(role='tabpanel', aria-labelledby='nav-illustrations-tab') 
              .row
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/1.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/2.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/3.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/4.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/5.jpg", alt="")
                .col-lg-4.col-md-6.col-12
                  .tab-content__block-img
                    .tab-content__hover-elem
                      h6 Mobile ui
                      p Google Mail
                      hr
                    img.img-fluid(src="../images/ourWorks/6.jpg", alt="")
          button.button.button--black Show me more

  section.section-here-help
    .container
      .row.justify-content-center
        .col-lg-5.col-md-8.col-10
          button.button.button--ghost We’re here to help.
  
  section.section-clients
    .container
      .row
        .col
          h2.head-subtitle our clients
          hr.head-hr
          .section-clients__logo-block
            img.section-clients__client-logo(src="../images/clients/1.png", alt="")
            img.section-clients__client-logo(src="../images/clients/2.png", alt="")
            img.section-clients__client-logo(src="../images/clients/3.png", alt="")
            img.section-clients__client-logo(src="../images/clients/4.png", alt="")
            img.section-clients__client-logo(src="../images/clients/5.png", alt="")

  section.section-about
    .container
      .row.justify-content-center
        .col-8
          .section-about__head
            h2.head-subtitle about us
            hr.head-hr
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure, dolor fugit, quasi magni doloremque numquam quaerat vitae, nihil adipisci repudiandae ipsam? Molestias quia id porro accusamus quod eos molestiae magnam.
      .row.justify-content-center
        .col-lg-3.col-md-6.col-8
          .about-photo.md-margin
            img.img-fluid.about-photo__some-photo(src="../images/about-1.jpg", alt="")
            .about-photo__hover-elem
              h6 john
              p CEO/Founder
              button.button.button--circle
                img(src="../images/circle-btn.png", alt="")
        .col-lg-3.col-md-6.col-8
          .about-photo.md-margin
            img.img-fluid.about-photo__some-photo(src="../images/about-2.jpg", alt="")
            .about-photo__hover-elem
              h6 john
              p CEO/Founder
              button.button.button--circle
                img(src="../images/circle-btn.png", alt="")
        .col-lg-3.col-md-6.col-8
          .about-photo.md-margin
            img.img-fluid.about-photo__some-photo(src="../images/about-3.jpg", alt="")
            .about-photo__hover-elem
              h6 john
              p CEO/Founder
              button.button.button--circle
                img(src="../images/circle-btn.png", alt="")
        .col-lg-3.col-md-6.col-8
          .hiring-block
            h6.hiring-block__subtitle we are hiring
            hr.hiring-block__hr
            button.button.button--black-small Apply

  section.section-video-block
    .wrapper
      video.wrapper__video
        source(src='../video/bcg-video.mp4', type='video/mp4')
      .wrapper__playpause
            
  
block scripts